.rating {
    float:left;
}

.productImage {
    float: left;
    padding-right: 10px;
}

span.star, span.star span {
    display: block;
    background: url(/static/images/stars.png) 0 -32px;
    width: 32px;
    height: 32px;
}

span.star span {
    background-position: 0 0;
}

span.starHover {
    background-position: 0 -64px;
    width: 32px; !important;
}