<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    <meta charset="UTF-8">
    <title>Size Up Snacks</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello World!</h1>
{% endif %}
</head>
<body>

{%for product in products%}
    <div>
        <fieldset class="rating">
            <legend>Please rate:</legend>
            <input type="radio" id="awesome{{ loop.index0 }}" name="rating{{ loop.index0 }}" value="5" {% if product.rating > 4 %} checked {% endif %}/><label for="awesome{{ loop.index0 }}" title="Rocks!">5 stars</label>
            <input type="radio" id="good{{ loop.index0 }}" name="rating{{ loop.index0 }}" value="4" {% if product.rating > 3 and product.rating <= 4 %} checked {% endif %}/><label for="good{{ loop.index0 }}" title="Pretty good">4 stars</label>
            <input type="radio" id="average{{ loop.index0 }}" name="rating{{ loop.index0 }}" value="3" {% if product.rating > 2 and product.rating <= 3 %} checked {% endif %}/><label for="average{{ loop.index0 }}" title="Meh">3 stars</label>
            <input type="radio" id="notGood{{ loop.index0 }}" name="rating{{ loop.index0 }}" value="2" {% if product.rating > 1 and product.rating <= 2 %} checked {% endif %}/><label for="notGood{{ loop.index0 }}" title="Kinda bad">2 stars</label>
            <input type="radio" id="sucks{{ loop.index0 }}" name="rating{{ loop.index0 }}" value="1" {% if product.rating > 0 and product.rating <= 1 %} checked {% endif %}/><label for="sucks{{ loop.index0 }}" title="Sucks big time">1 star</label>
        </fieldset>

        {{ product.name }} - {{ product.rating }}
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
{% endfor %}


</body>
</html>